extends layout

block content
  h1.title
    span #{title}
    span: img.google-cloud-logo(src="/images/google-cloud-05.png" alt='google cloud platform logo')
  h4(style="text-align: center")= subtitle
  div.app-engine-div
    img.app-engine-img(src='/images/google-cloud-run.png' alt='google cloud platform app engine service logo')
    h5 Application hosted on Cloud Run