doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/skeleton/normalize.css')
    link(rel='stylesheet', href='/css/skeleton/skeleton.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='favicon.png', type='image/png')
    script(src="moment")
  body
    // Navbar
    include ./components/nav.pug
    hr.under-nav
    // Header
    // include ./components/header.pug
    // hr/
    // App Main
    main
      div.inner-main
        block content
        block showTime
    hr/
    // App Footer
    include ./components/footer.pug