:root{
  box-sizing: border-box;
}

body,html {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.nav-links{
  list-style-type: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  margin: 0;
}

.nav-links li {
  margin: 0
}

.nav-links a {
  text-decoration: none;
  margin: 0;
}

.nav-banner{
  background: url('/images/node-bg-002.jpg') center center / 100vw auto;
  height: 100px;
  color: white;
  padding: 0 20px;
}

.under-nav{
  margin: 0;
}

main{
  width: 50vw;
  margin: 5vh auto auto auto;
  flex: 1; 
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.google-cloud-logo{
  height: 1.5em;
  width: auto;
  margin-left: 10px;
}

a {
  color: #00B7FF;
}

hr{
  width: 100%;
  
}

.ex-js{
  height: 1em;
  margin: 0 10px;
  width: auto;
}

.footer-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.app-engine-div{
  
  text-align: center;
}

.app-engine-img{
  height: 10vh;
}